<p id="notice"><%= notice %></p>

<p>
  <strong>Actor name:</strong>
  <%= @character.actor_name %>
</p>

<p>
  <strong>Character name:</strong>
  <%= @character.character_name %>
</p>

<p>
  <strong>Url photo:</strong>
  <%= @character.url_photo %>
</p>

<p>
  <strong>Serie:</strong>
  <%= @character.serie %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
